<!doctype html>

<html>
<head>
	<title>Momentz</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/profileCss.css" rel="stylesheet">
    {{> tracking_code_script}}
</head>

<body>
<center>
		<!-- <div id="profileDetails">
			<a href="#"><img src="images/n6.jpg" /></a>
			<br>
		</div> -->
	<center>
		<div id="intro-top">
			<div class="setting">
			<form class="fileinputs" id = "uploadForm" enctype = "multipart/form-data" action = "/api/profile" method = "post">
			<input type="file" class="file" id="imgInp" name="images" onchange="javascript:this.form.submit();" />
			<div class="fakefile">
			<img src="images/setting.png" width="40" height="40"/>
			</div>
			</form>
			</div>
			
			<div class="profile-picture">
			{{#each users}}
			<img id="blah" name="img4" src="{{profile}}" class = "img-circle" height="80" width="80"/>
			{{/each}}
			</div>
			<p id="title"> Profile </p>
			<div style="padding-bottom:10px">
			<p> "I love traveling and photography." </p>
			</div>
		    <div class="icon"><a href="http://www.linkedin.com/" target="_blank"><img class="img-circle" src="images/linkedin.png" alt="LinkedIn Profile" width="40" height="40" /></a></div>
		    <div class="icon"><a href="http://www.instagram.com" target="_blank"><img class="img-circle" src="images/instagram_icon.png" alt="LinkedIn Profile" width="40" height="40" /></a></div>
		    <div class="icon"><a href="https://www.facebook.com/" target="_blank"><img class="img-circle" src="images/facebook.png" alt="LinkedIn Profile" width="40" height="40" /></a></div>
		    <div class="icon"><a href="http://www.twitter.com" target="_blank"><img class="img-circle" src="images/twitter.png" alt="LinkedIn Profile" width="40" height="40" /></a></div>
		</div>
	</center>

	<div class="container">

		{{#each stories}}
			<form id="viewStory" role="form" method="get" action="/story">
			<div id="{{id}}">

			<input type="image" src="{{img0}}" name="imageN" class="img-responsive, img-rounded" id="img">
			</div>
			<hr style="color:w">

			<input type="hidden" name="title" value={{title}}>
			
			<a href="#" id="story"></a>

			</form>
		{{/each}}

	<center>
		<br>
		<button id="Publish2" type="button" class="c1"><img src="images/upload.png"></button>
	</center>	

   <center>
    <br>
    <button id="logoutBtn" type="button" class="c2">Logout</button>
	</center>

	</div>

    <center>
    <ul id="menu">
		<li id="TopS" class="a_version_top_story"><div><img src="images/top.png" id="img"></div><div><a href="#">Top</a></div></li>
		<li id="NewsFeed" class="a_version_news_feed"><div><img src="images/newsfeed.png" id="img"></div><div><a href="#">Newsfeed</a></div></li>
		<li id="Publish"><div><img src="images/publish.png" id="img"></div><div><a href="#">Publish</a></div></li>
		<li id="Profile"><div><img src="images/profile2.png" id="img"></div><div><a href="#" style="color:#40FF00">Profile</a></div></li>

	</ul>
	</center>	

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
	</center>
</body>
</html>
