<!doctype html>

<html>
<head>
	<title>Momentz</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
	<!-- <link href="css/bootstrap-theme.min.css" rel="stylesheet"> -->

	<link href="css/bootstrap-responsive.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">

	<link href="css/introHCI.css" rel="stylesheet">
    
</head>

<body>
<center>
	<div class="container">
		
		<center>
		<div class="jumbotron">
			<p>In the Depths of the Amazon</p>
			
		</div>
		</center>
	<hr>
		<div style='float: left;'>
    		<button id="likeBtn" type="button" class="btn btn-default"><img src="images/like.png" width="20" height="20"/></button>
    		<button id="commentBtn" type="button" class="btn btn-default"><img src="images/comment.png" width="20" height="20"/></button>
    	</div>
		<div id="pos1">
			<img src="images/n2.png" class="img-responsive" alt="Responsive image">
			<p id="toLeft"><font color="000000">The journey through the Amazon river started on this beautiful Saturday morning</font></p>
		</div>
<hr>
	<div>
		<div style='float: right;'>
    			<button id="likeBtn" type="button" class="btn btn-default"><img src="images/like.png" width="20" height="20"/></button>
    			<button id="commentBtn" type="button" class="btn btn-default"><img src="images/comment.png" width="20" height="20"/></button>
    		</div>
		<img src="images/m3.png" class="img-responsive" alt="Responsive image"	id="pos2">
					<p id="toRight"><font color="000000">After about 3 hours of paddling we get a well deserved break in front of this magnificent rainbow</font></p>
	</div>
<hr>
	<div>
		<div style='float: left;'>
    			<button id="likeBtn" type="button" class="btn btn-default"><img src="images/like.png" width="20" height="20"/></button>
    			<button id="commentBtn" type="button" class="btn btn-default"><img src="images/comment.png" width="20" height="20"/></button>
    		</div>
		<img src="images/m4.png" class="img-responsive" alt="Responsive image"	id="pos1">
			<p id="toLeft2"><font color="000000">As the afternoon came, we decided to get out of our boats and do some exploring on land. There we encountered this little fellow.</font></p>
		</div>
		<hr>
	<div>
		<div style='float: right;'>
    			<button id="likeBtn" type="button" class="btn btn-default"><img src="images/like.png" width="20" height="20"/></button>
    			<button id="commentBtn" type="button" class="btn btn-default"><img src="images/comment.png" width="20" height="20"/></button>
    		</div>
		<img src="images/m5.png" class="img-responsive" alt="Responsive image"	id="pos2">
					<p id="toRight"><font color="000000">As it turns out, this snake, wasn't as friendly as we would have hoped, and unfortunately we had to cancel the rest of our trip and rush Aditya to the hospital.</font></p>
	</div>
<hr>		
<!-- 		<center>
		<div class="MainContainer">
    </div>  
    <div id="MenuContainer">
        <ul id="navigation">
            <li class="x"><button id="submitBtn" type="button" class="btn btn-default">Top Stories</button></li>
            <li class="x"><a title="2" href="#" >2</a></li>
            <li class="x"><a title="3" href="#" >3</a></li>
            <li class="x"><a title="4" href="#" >4</a></li>
            <li class="x"><a title="5" href="#" >5</a></li>
            
        </ul>
    </div>
    </center> -->
    <center>
    <ul id="menu">
		<li id="TopS"><a href="#">Top Stories</a></li>
		<li id="NewsFeed">
			<a href="#">News Feed </a>
			<!-- <ul class="hidden">
				<li><a href="#">Who We Are</a></li>
				<li><a href="#">What We Do</a></li>
			</ul> -->
		</li>
		<li id="Publish">
			<a href="#">Publish Story</a>
			<!-- <ul class="hidden">
				<li><a href="#">Photography</a></li>
				<li><a href="#">Web & User Interface Design</a></li>
				<li><a href="#">Illustration</a></li>
			</ul> -->
		</li>
		<li id="Profile"><a href="#">Profile</a></li>
		<!-- <li><a href="#">Contact</a></li> -->
	</ul>
	</center>
	</div>


	
	

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
<center>
</body>
</html>
