/* applies to anything of class "example-class-selector" */
.example-class-selector {
  margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
  /* Colors are in hexadecimal: http://www.colorpicker.com/ */  
  color: #FFFFFF;
}

.jumbotron {
  position: relative;
  background: none;
}

body {
  /*background-image: url("../images/background_logo.png");*/
  background-color:#E6E6E6;
}

html, body {
 height: 100%;
 font-family: "Junction";
}

.container{
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 500px;
  padding-bottom: 100px;
}

.container #img{
  max-width: 340px;
  min-width: 300px;
  border:12px solid #FFFFFF;
  box-shadow: 2px 2px 2px #1B1B23;
}

#imageList {
    font-size: 20;
     width: 272px;
     margin: 0 auto;
     padding-top: 20px;
     padding-bottom: 20px;
}

#imageList a {
    margin: 2px;
    /*border: 4px solid #333;*/
    display: inline-block;
}
#imageList p{
    color: #FFFFFF;
    font-size: 150%;
    font-family: "Helvetica", Arial, sans-serif;
}
#imageList a:hover {
    border-color: white;
}

div.fileinputs {
  position: relative;
}

div.fakefile {
  float: right;
  top: 0px;
  left: 0px;
  z-index: 1;
}

div.fakefile .img{
  width: 30px;
  height: 30px;
}

input.file {
  position: relative;
  text-align: right;
  -moz-opacity:0 ;
  filter:alpha(opacity: 0);
  opacity: 0;
  z-index: 2;
}

/* red header */
.bg-header {
  padding-top: 5px;
  background-color: #ff004a;
  background: -webkit-linear-gradient(#334464, #00153D); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#334464, #00153D); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#334464, #00153D); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#006666, #003D3D); /* Standard syntax */

}

.c1{
  color: black;
    background-color: #E6E6E6;
    moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    width: 325px;
    height: 260px;
    border: 12px;
    border-style: solid;
    border-color: #FFFFFF;
    box-shadow: 2px 2px 2px #1B1B23; 
}

.c2{
  border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 9.5px 50px;
   -webkit-border-radius: 14px;
   -moz-border-radius: 14px;
   border-radius: 14px;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 17px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
}

#intro-top{
  max-height: 310px;
  background-image: url("../images/profile_bg.jpg");
  background-size: 400px 300px;
  filter: blur(20px);
  font-style: italic;
  font-size: 16px;
  padding: 0px 20px 10px 30px;
  color: white;
}

#intro-top #setting{

}

#intro-top #title{
color: white;
font-family: "Junction";
font-size: 200%;
}

.icon{
  padding: 0px 2px 0px 2px;
  display: inline;
}

.profile-picture{
  padding-top:50px;
  height: 100%;
}
.profile-picture .img-circle{
    border:2px solid #FFFFFF;
}

.profile-picture .profile-upload{
  float: right;
}

/* navigation bar styling */

#menu{
    width: 110%;
    height: 55px;
    font-size: 16px;
    position: fixed;
    left: -10%;
    bottom: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;    
    background-color: #2f3036;
    text-align: center;
}
#menu ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    overflow: hidden;
}
/*Create a horizontal list with spacing*/
#menu li { 
display: inline-block;  
}

#menu #img{
  width: 30px;
  height: 30px;
  padding-top: 3px;
}

/*Hover state for top level links*/
#menu a {
    min-width: 90px;
    line-height: 15px;
    text-decoration: none;
    color: #fff;
    padding: 0px 16px 5px 16px;
}

/*Style for dropdown links*/
#menu li:hover {
    background-color: #BDBDBD;
    color: #2f3036;
    .grayscale {-webkit-filter: grayscale(100%);}
}

.jumbotron p {
     color: #FFFFFF;
}

.project a {
     text-align: center;
}


/*Only for nav tag*/
nav {
margin:20px auto;
bottom: 0;
width:1000px;
height:60px;
opacity:0.8;
background: #151515; /* Old browsers */
background: -moz-linear-gradient(top, #151515 0%, #050505 100%, #050505 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#151515), color-stop(100%,#050505), color-stop(100%,#050505)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #151515 0%,#050505 100%,#050505 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #151515 0%,#050505 100%,#050505 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #151515 0%,#050505 100%,#050505 100%); /* IE10+ */
background: linear-gradient(to bottom, #151515 0%,#050505 100%,#050505 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151515', endColorstr='#050505',GradientType=0 ); /* IE6-9 */
border:1px solid black;
}

.navButton {
width:150px;
height:40px;
text-align:center;
text-transform:uppercase;
display:inline;
line-height:40px;
margin:10px;
float:left;
cursor:pointer;
background: #323232; /* Old browsers */
background: -moz-linear-gradient(top, #323232 1%, #161616 100%, #161616 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#323232), color-stop(100%,#161616), color-stop(100%,#161616)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #323232 1%,#161616 100%,#161616 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #323232 1%,#161616 100%,#161616 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #323232 1%,#161616 100%,#161616 100%); /* IE10+ */
background: linear-gradient(to bottom, #323232 1%,#161616 100%,#161616 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#161616',GradientType=0 ); /* IE6-9 */
color:white;
font-weight:bold;
}

.navButton:hover {
background: #14b9ef; /* Old browsers */
background: -moz-linear-gradient(top, #14b9ef 0%, #054573 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#14b9ef), color-stop(100%,#054573)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #14b9ef 0%,#054573 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #14b9ef 0%,#054573 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #14b9ef 0%,#054573 100%); /* IE10+ */
background: linear-gradient(to bottom, #14b9ef 0%,#054573 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14b9ef', endColorstr='#054573',GradientType=0 ); /* IE6-9 */
}




